#main-footer{
    background-color: $dark-color;
    color: $light-color;
    height: 5rem;
    
    .footer-content{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social{

            .fab{
                margin-right: 1rem;
                border: 2px solid white;
                border-radius: 50%;
                text-align: center;
                padding: 0.4rem;
                transition: all 1s ;

                &:hover{
                    background-color: $primary-color;
                }
            }
        }
    }
}